/* SINTAKS BARU TAILWIND V4 */
@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F8F9FA] text-slate-900 antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}